<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Hello world from kanku-sho!</center></h1><br>
        <h1><center><a href="/search_capture">Jump to capture files</a></center></h1>
        <h1><center><a href="/show_insights">Start from insights</a></center></h1>
        <h1><center><a href="/show_http_exploits">See possible http exploits</a></center></h1>
        <h1><center><a href="/show_tcp_exploits">See possible tcp exploits</a></center></h1>
        </table>
        </center>
    </body>
</html>
