<!DOCTYPE html>
<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Stream {{ stream['number'] }}</center></h1>
        <form class="example" action="/generate_code_from_stream" method="post" style="margin:auto;width:100%">
			<input type="hidden" name="stream_id" value="{{ stream['id'] }}">
			<button type="submit">Click here to generate python code from the stream</button>
		</form>
        <p></p>
        <table style="width:100%">
            {% for payload in stream['payloads'] %}
                <tr>
                    <th> From </th>
                    <th> To </th>
                    <th> Data </th>
                </tr>
                <tr>
                    {% if payload['type'] == 'request' %}
                        <td> {{ stream['remote_ip'] }}:{{ stream['remote_port'] }} </td>
                        <td> {{ stream['local_ip'] }}:{{ stream['local_port'] }} </td>
                    {% else %}
                        <td> {{ stream['local_ip'] }}:{{ stream['local_port'] }} </td>
                        <td> {{ stream['remote_ip'] }}:{{ stream['remote_port'] }} </td>
                    {% endif %}
                    <td> {{ payload['data'] }} </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
